/*
Webcraft Plugins Ltd.
Author: Nikolay Dyankov
*/

/*
Colors:
- Text: #222222
- Blue: #2196f3
- Green: #4dc419
- Red: #e03c1c
- Gray: #b8b8b8
- Light Gray Item: #fafafa
- Light Gray Item border: #dddddd
*/

@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700);

/* ========================================================================== */
/* LAYOUT */
/* ========================================================================== */

#wcp-editor {
    display: flex;
    width: 100%;
    height: 100%;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAIAAACQKrqGAAAASUlEQVQokc3QsQkAMAhE0TPO4v5zuIFTCA5wkD4RYpkr5WHxxd3NTFXxmmTmxAFYQwdgDd2/NCJIHkepqpuSvMv0X9uCnxZotwF/OhEkm8OoNAAAAABJRU5ErkJggg==');
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #222;
}
#wcp-editor-left {
    width: 400px;
    background: white;
    border-right: 1px solid #b8b8b8;
    display: flex;
    flex-direction: column;
    -webkit-transition:margin-left 300ms ease-in-out, height 300ms ease-in-out;
    -moz-transition:margin-left 300ms ease-in-out, height 300ms ease-in-out;
    -o-transition:margin-left 300ms ease-in-out, height 300ms ease-in-out;
    transition:margin-left 300ms ease-in-out, height 300ms ease-in-out;

}
#wcp-editor-left * {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
#wcp-editor-center {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
    position: relative;
}
#wcp-editor-center #wcp-editor-canvas {
    position: relative;
    background: white;
    width: 400px;
    height: 300px;
    z-index: 0;
}
#wcp-editor-center #wcp-editor-canvas.wcp-editor-canvas-fill {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
#wcp-editor-right {
    width: 300px;
    height: 100%;
    background: white;
  -webkit-transition:margin-right 300ms ease-in-out, height 300ms ease-in-out;
  -moz-transition:margin-right 300ms ease-in-out, height 300ms ease-in-out;
  -o-transition:margin-right 300ms ease-in-out, height 300ms ease-in-out;
  transition:margin-right 300ms ease-in-out, height 300ms ease-in-out;
}

/* ========================================================================== */
/* LEFT TOOLBAR */
/* ========================================================================== */

/* Main buttons */

#wcp-editor-main-buttons {
    min-height: 64px;
    display: flex;
}
#wcp-editor-main-buttons .wcp-editor-main-button {
    flex: 1;
    border-left: 1px solid #b8b8b8;
    border-bottom: 1px solid #b8b8b8;
    height: 64px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #b8b8b8;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: all 0.1s cubic-bezier(.55,0,.1,1);
    -moz-transition: all 0.1s cubic-bezier(.55,0,.1,1);
    -webkit-transition: all 0.1s cubic-bezier(.55,0,.1,1);
}

#wcp-editor-main-buttons .wcp-editor-main-button:hover {
    color: #222;
}
#wcp-editor-main-buttons .wcp-editor-main-button:active {
    background: #f0f0f0;
}
#wcp-editor-main-buttons .wcp-editor-main-button .wcp-editor-main-button-icon {
    font-size: 22px;
    margin-bottom: 5px;
}
#wcp-editor-main-buttons .wcp-editor-main-button.wcp-active {
    background: #e03c1c;
    color: white;
    position: relative;
}
#wcp-editor-main-buttons .wcp-editor-main-button.wcp-active:before {
    display: block;
    content: '';
    position: absolute;
    left: -1px;
    top: -1px;
    width: 100%;
    height: 100%;
    border: 1px solid #e03c1c;
    box-sizing: content-box;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
}

/* Main tabs */
#wcp-editor-main-tab-buttons {
    min-height: 80px;
    width: 100%;
    display: flex;
}
#wcp-editor-main-tab-buttons .wcp-editor-main-tab-button {
    flex: 1;
    height: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#wcp-editor-main-tab-buttons .wcp-editor-main-tab-button.wcp-active {
    position: relative;
    background: #2196f3;
    color: white;
}
#wcp-editor-main-tab-buttons .wcp-editor-main-tab-button.wcp-active:before {
    display: block;
    content: '';
    position: absolute;
    left: 0;
    top: -1px;
    width: 100%;
    height: 1px;
    background: #2196f3;
}
#wcp-editor-main-tab-buttons .wcp-editor-main-tab-button.wcp-active:after {
    display: block;
    content: '';
    position: absolute;
    right: -1px;
    top: -1px;
    width: 1px;
    height: 81px;
    background: #2196f3;
}
#wcp-editor-main-tab-buttons .wcp-editor-main-tab-button .wcp-editor-main-tab-button-icon {
    font-size: 22px;
    margin-bottom: 5px;
}
#wcp-editor-main-tab-contents {
    flex: 1;
    display: flex;
    flex-direction: column;
}
#wcp-editor-main-tab-contents .wcp-editor-main-tab-content {
    flex: 1;
    display: flex;
    flex-direction: column;
}
#wcp-editor-main-tab-contents .wcp-editor-main-tab-content .wcp-editor-main-tab-content-title {
    position: relative;
    height: 60px;
    font-weight: 700;
    font-size: 24px;
    line-height: 60px;
    padding-left: 20px;
    color: white;
    background: #2196f3;
}
#wcp-editor-main-tab-contents .wcp-editor-main-tab-content .wcp-editor-main-tab-content-title:before {
    display: block;
    content: '';
    position: absolute;
    right: -1px;
    top: 0;
    width: 1px;
    height: 60px;
    background: #2196f3;
}
#wcp-editor-main-tab-contents .wcp-editor-main-tab-content .wcp-editor-main-tab-content-inner-wrap {
    flex: 1;
}

/* Secondary tabs */

#wcp-editor-main-tab-contents .wcp-editor-main-tab-content .wcp-editor-main-tab-content-inner-wrap {
    display: flex;
}
#wcp-editor-main-tab-contents .wcp-editor-main-tab-content .wcp-editor-main-tab-content-inner-wrap .wcp-editor-form-tabs-wrap {
    width: 64px;
    background: #f7f7f7;
    border-right: 1px solid #dbdbdb;
}
#wcp-editor-main-tab-contents .wcp-editor-main-tab-content .wcp-editor-main-tab-content-inner-wrap .wcp-editor-form-tabs-wrap .wcp-editor-form-tab-button {
    width: 64px;
    height: 64px;
    background: #efefef;
    border-bottom: 1px solid #b8b8b8;
    border-right: 1px solid #b8b8b8;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
}
#wcp-editor-main-tab-contents .wcp-editor-main-tab-content .wcp-editor-main-tab-content-inner-wrap .wcp-editor-form-tabs-wrap .wcp-editor-form-tab-button.wcp-active {
    background: white;
    border-right: 1px solid white;
}
#wcp-editor-main-tab-contents .wcp-editor-main-tab-content .wcp-editor-main-tab-content-inner-wrap .wcp-editor-form-tabs-wrap .wcp-editor-form-tab-button .wcp-editor-form-tab-button-icon {
    height: 24px;
    line-height: 24px;
    font-size: 20px;
}
#wcp-editor-main-tab-contents .wcp-editor-main-tab-content .wcp-editor-main-tab-content-inner-wrap .wcp-editor-form-tabs-wrap .wcp-editor-form-tab-button .wcp-editor-form-tab-button-text {
    text-align: center;
    font-size: 12px;
}
#wcp-editor-main-tab-contents .wcp-editor-main-tab-content .wcp-editor-main-tab-content-inner-wrap .wcp-editor-form-tabs-content-wrap {
    padding: 30px;
    flex: 1;
    overflow-y: auto;
}
#wcp-editor-main-tab-contents .wcp-editor-main-tab-content .wcp-editor-main-tab-content-inner-wrap .wcp-editor-form-wrap {
    display: flex;
    flex: 1;
}

/* ========================================================================== */
/* TOOLS */
/* ========================================================================== */

#wcp-editor-toolbar-wrap {
    position: absolute;
    left: 12px;
    top: 90px;
}
#wcp-editor-toolbar {
    position: absolute;
    left: 12px;
    top: 90px;
    border-radius: 3px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    border: 1px solid #b8b8b8;
    z-index: 1;
}
#wcp-editor-toolbar.wcp-editor-toolbar-grouped {
    position: relative;
    left: 0;
    top: 0;
    margin-bottom: 10px;
}
#wcp-editor-toolbar .wcp-editor-toolbar-button {
    width: 44px;
    height: 44px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 22px;
    border-bottom: 1px solid #ddd;
}
#wcp-editor-toolbar .wcp-editor-toolbar-button:hover {
    background: #f5f5f5;
}
#wcp-editor-toolbar .wcp-editor-toolbar-button:active .wcp-editor-toolbar-button-icon {
    transform: translate(2px, 2px);
}
#wcp-editor-toolbar .wcp-editor-toolbar-button.wcp-active {
    background: #ddd;
}
#wcp-editor-toolbar .wcp-editor-toolbar-button:first-child {
    border-radius: 3px 3px 0 0;
}
#wcp-editor-toolbar .wcp-editor-toolbar-button:last-child {
    border-bottom: none;
    border-radius: 0 0 3px 3px;
}
#wcp-editor-toolbar .wcp-editor-toolbar-button .wcp-editor-toolbar-button-icon {
    width: 24px;
    height: 24px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#wcp-editor-toolbar .wcp-editor-toolbar-button .wcp-editor-toolbar-button-title {
    display: none;
}

/* ========================================================================== */
/* EXTRA MAIN BUTTONS */
/* ========================================================================== */

#wcp-editor-extra-main-buttons {
    position: absolute;
    left: 12px;
    top: 20px;
    border-radius: 3px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    border: 1px solid #b8b8b8;
    display: flex;
    z-index: 2;
}
#wcp-editor-extra-main-buttons .wcp-editor-extra-main-button {
    flex: 1;
    height: 64px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
    color: #b8b8b8;
    border-right: 1px solid #ddd;
}
#wcp-editor-extra-main-buttons .wcp-editor-extra-main-button:hover {
    color: #222;
}
#wcp-editor-extra-main-buttons .wcp-editor-extra-main-button:active {
    background: #f0f0f0;
}
#wcp-editor-extra-main-buttons .wcp-editor-extra-main-button:first-child {
    border-radius: 3px 0 0 3px;
}
#wcp-editor-extra-main-buttons .wcp-editor-extra-main-button:last-child {
    border-right: none;
    border-radius: 0 3px 3px 0;
}
#wcp-editor-extra-main-buttons .wcp-editor-extra-main-button .wcp-editor-extra-main-button-icon {
    width: 24px;
    height: 24px;
    font-size: 22px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
#wcp-editor-extra-main-buttons .wcp-editor-extra-main-button .wcp-editor-extra-main-button-title {
    font-size: 14px;
    padding: 0 10px;
    min-width: 44px;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* ========================================================================== */
/* RIGHT TOOLBAR */
/* ========================================================================== */

#wcp-editor-right {
    border-left: 1px solid #b8b8b8;
    position: relative;
}
#wcp-editor-right.wcp-editor-right-with-title {
    padding-top: 64px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
#wcp-editor-right.wcp-editor-right-with-title-buttons {
    padding-top: 108px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
#wcp-editor-list-title {
    position: absolute;
    left: 0;
    top: 0;
    height: 64px;
    width: 100%;
    font-weight: 700;
    font-size: 24px;
    line-height: 60px;
    padding-left: 20px;
    color: white;
    background: #2196f3;
}
#wcp-editor-list-title:before {
    display: block;
    content: '';
    position: absolute;
    left: -1px;
    top: 0;
    width: 1px;
    height: 100%;
    background: #2196f3;
}
#wcp-editor-list-item-title-buttons {
    position: absolute;
    width: 100%;
    height: 44px;
    left: 0;
    top: 64px;
    display: flex;
}
.wcp-editor-list-item-title-button {
    flex: 1;
    border-right: 1px solid #b8b8b8;
    border-bottom: 1px solid #b8b8b8;
    background: white;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #b8b8b8;
}
.wcp-editor-list-item-title-button:last-child {
    border-right: none;
}
.wcp-editor-list-item-title-button:hover {
    color: #222;
}
.wcp-editor-list-item-title-button:active {
    background: #f0f0f0;
}
.wcp-editor-list-item-title-button i, .wcp-editor-list-item-title-button span {
    pointer-events: none;
}
#wcp-editor-right * {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
#wcp-editor-right .wcp-editor-list-item {
    height: 80px;
    border-bottom: 1px solid #dddddd;
    background: #f5f5f5;
    cursor: pointer;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#wcp-editor-right .wcp-editor-list-item:hover {

    background: #efefef;
}
#wcp-editor-right .wcp-editor-list-item.wcp-active {
    background: white;
}
#wcp-editor-right .wcp-editor-list-item .wcp-editor-list-item-title {
    padding-left: 12px;
    line-height: 80px;
}
#wcp-editor-right .wcp-editor-list-item .wcp-editor-list-item-buttons {
    position: absolute;
    right: 8px;
    top: 22px;
    display: flex;
}
#wcp-editor-right .wcp-editor-list-item:hover .wcp-editor-list-item-buttons {
    display: flex;
}
#wcp-editor-right .wcp-editor-list-item .wcp-editor-list-item-buttons .wcp-editor-list-item-button {
    width: 32px;
    height: 32px;
    border-radius: 32px;
    line-height: 32px;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#wcp-editor-right .wcp-editor-list-item .wcp-editor-list-item-buttons .wcp-editor-list-item-button:active {
    background: #ddd;
}
#wcp-editor-right .wcp-editor-list-item.wcp-active .wcp-editor-list-item-buttons .wcp-editor-list-item-button:active {
    background: rgba(255, 255, 255, 0.25);
}
#wcp-editor-list {
    overflow-y: auto;
    max-height: 100%;
}

.wcp-editor-dragged-list-item {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0.8;
    z-index: 2147483647;
    height: 55px;
    border: 1px solid #b8b8b8;
    border-radius: 3px;
    background: #fafafa;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #222;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}
.wcp-editor-dragged-list-item .wcp-editor-list-item-buttons {
    display: none;
}
.wcp-editor-dragged-list-item.wcp-active {
    background: white;
    /*color: white;*/
    border: none;
}
.wcp-editor-dragged-list-item .wcp-editor-list-item-title {
    padding-left: 12px;
    line-height: 55px;
    cursor: -webkit-grabbing;
}
.wcp-editor-dragged-list-item-wrap {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
#wcp-editor-list-item-visible-tmp {
    padding: 7px;
    border-bottom: 1px solid #dddddd;
}
#wcp-editor-list-item-visible-tmp-inner {
    display: block;
    height: 100%;
    border: 3px dashed #b8b8b8;
    background: rgba(0, 0, 0, 0.05);
    border-radius: 10px;
}

/* ========================================================================== */
/* TOOLTIP */
/* ========================================================================== */

#wcp-editor-tooltip {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2147483647;
    background: #222;
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    padding: 0 12px;
    border-radius: 3px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}
#wcp-editor-tooltip.wcp-editor-tooltip-visible {
    opacity: 1;
}
#wcp-editor-tooltip:before {
    position: absolute;
    display: block;
    content: '';
    border-color: #222;
}
#wcp-editor-tooltip.wcp-editor-tooltip-left:before {
    right: -6px;
    top: 50%;
    margin-top: -6px;

    width: 0;
    height: 0;

    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;

    border-left: 6px solid #222;
}
#wcp-editor-tooltip.wcp-editor-tooltip-right:before {
    left: -6px;
    top: 50%;
    margin-top: -6px;

    width: 0;
    height: 0;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;

    border-right:6px solid #222;
}
#wcp-editor-tooltip.wcp-editor-tooltip-top:before {
    left: 50%;
    margin-left: -6px;
    bottom: -6px;

    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;

    border-top: 6px solid #222;
}
#wcp-editor-tooltip.wcp-editor-tooltip-bottom:before {
    left: 50%;
    margin-left: -6px;
    top: -6px;

    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;

    border-bottom: 6px solid #222;
}

/* ========================================================================== */
/* LOADING SCREEN */
/* ========================================================================== */

#wcp-editor-loading-screen {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2147483647;
    background: rgba(0, 0, 0, 0.85);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    opacity: 0;
    transition: opacity 0.25s cubic-bezier(.55,0,.1,1);
    -moz-transition: opacity 0.25s cubic-bezier(.55,0,.1,1);
    -webkit-transition: opacity 0.25s cubic-bezier(.55,0,.1,1);
}
#wcp-editor-loading-screen.wcp-editor-loading-screen-visible {
    opacity: 1;
}
#wcp-editor-loading-screen-icon {
    width: 48px;
    height: 48px;
    font-size: 48px;
}
#wcp-editor-loading-screen-text {
    font-size: 24px;
    line-height: 36px;
    margin-top: 20px;
    text-align: center;
}
#button-loading-screen-close {
    font-size: 16px;
    margin: 20px auto;
    width: 100px;
}
.loading-screen-subtitle {
    font-size: 12px;
    text-align: center;
}

/* ========================================================================== */
/* MODAL */
/* ========================================================================== */

#wcp-editor-modal {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    min-height: 100%;
    z-index: 2147483646;
    background: rgba(0, 0, 0, 0.66);
    display: none;
    align-items: center;
    flex-direction: column;
    color: #222;
    font-family: 'Source Sans Pro', sans-serif;
    opacity: 0;
    transition: opacity 0.33s cubic-bezier(.55,0,.1,1);
    -moz-transition: opacity 0.33s cubic-bezier(.55,0,.1,1);
    -webkit-transition: opacity 0.33s cubic-bezier(.55,0,.1,1);
}
#wcp-editor-modal.wcp-editor-modal-visible {
    opacity: 1;
}
#wcp-editor-modal .wcp-editor-modal-body {
    margin: 40px;
    border-radius: 3px;
    background: white;
    min-width: 320px;
    max-width: 80%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    position: relative;
    transform: scale(0.8);
    opacity: 0;
    transition: all 0.33s cubic-bezier(.55,0,.1,1);
    -moz-transition: all 0.33s cubic-bezier(.55,0,.1,1);
    -webkit-transition: all 0.33s cubic-bezier(.55,0,.1,1);
}
#wcp-editor-modal.wcp-editor-modal-visible .wcp-editor-modal-body {
    transform: scale(1);
    opacity: 1;
}
#wcp-editor-modal .wcp-editor-modal-body .wcp-editor-modal-close {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 44px;
    height: 44px;
    color: #222;
    line-height: 44px;
    font-size: 22px;
    text-align: center;
    cursor: pointer;
    color: #b8b8b8;
    border-radius: 64px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#wcp-editor-modal .wcp-editor-modal-body .wcp-editor-modal-close:hover {
    color: #222;
}
#wcp-editor-modal .wcp-editor-modal-body .wcp-editor-modal-close:active {
    background: #ddd;
}
#wcp-editor-modal .wcp-editor-modal-body .wcp-editor-modal-header {
    font-size: 18px;
    padding: 0 20px;
    line-height: 64px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#wcp-editor-modal .wcp-editor-modal-body .wcp-editor-modal-content {
    padding: 20px;
    font-size: 12px;
    line-height: 20px;
    border-bottom: 1px solid #ddd;
    margin: 0 20px 20px 20px;
    border-top: 1px solid #ddd;
}
#wcp-editor-modal .wcp-editor-modal-body .wcp-editor-modal-footer {
    padding: 0 20px 20px 20px;
    display: flex;
    justify-content: flex-end;
}

.wcp-editor-modal-button {
    font-size: 14px;
    line-height: 32px;
    padding: 0 18px;
    border-radius: 3px;
    background: #f0f0f0;
    cursor: pointer;
    margin-left: 8px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.wcp-editor-modal-button:hover {
    filter: brightness(1.1);
    -moz-filter: brightness(1.1);
    -webkit-filter: brightness(1.1);
}
.wcp-editor-modal-button:active {
    filter: brightness(0.9);
    -moz-filter: brightness(0.9);
    -webkit-filter: brightness(0.9);
}
.wcp-editor-modal-button.wcp-editor-modal-button-primary {
    background: #2196f3;
    color: white;
}
.wcp-editor-modal-button.wcp-editor-modal-button-danger {
    background: #e03c1c;
    color: white;
}

/* Create New modal */
#wcp-editor-create-new-error {
    color: #e03c1c;
    font-size: 12px;
    line-height: 12px;
    margin-top: 8px;
    display: none;
}

/* Import modal */
#wcp-editor-textarea-export {
    width: 480px;
}
#wcp-editor-import-error {
    color: #e03c1c;
    font-size: 12px;
    line-height: 12px;
    margin-top: 8px;
    display: none;
}

/* Load modal */
.wcp-editor-save-list-item-wrap {
    display: flex;
    width: 320px;
    margin-bottom: 8px;
}
.wcp-editor-save-list-item-wrap:last-child {
    margin-bottom: 0;
}
.wcp-editor-save-list-item-wrap .wcp-editor-save-list-item {
    flex: 1;
    height: 44px;
    line-height: 44px;
    font-size: 14px;
    border: 1px solid #dddddd;
    border-right: none;
    background: #fafafa;
    border-radius: 3px 0 0 3px;
    padding: 0 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.wcp-editor-save-list-item-wrap .wcp-editor-save-list-item:hover {
    background: #f5f5f5;
}
.wcp-editor-save-list-item-wrap .wcp-editor-save-list-item:active {
    background: #dddddd;
}
.wcp-editor-save-list-item-wrap .wcp-editor-save-list-item-delete-button {
    width: 44px;
    height: 44px;
    font-size: 22px;
    text-align: center;
    line-height: 44px;
    border: 1px solid #dddddd;
    background: #fafafa;
    border-radius: 0 3px 3px 0;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.wcp-editor-save-list-item-wrap .wcp-editor-save-list-item-delete-button:hover {
    background: #e03c1c;
    color: white;
    border-color: #e03c1c;
}
.wcp-editor-save-list-item-wrap .wcp-editor-save-list-item-delete-button:active {
    filter: brightness(0.9);
    -moz-filter: brightness(0.9);
    -webkit-filter: brightness(0.9);
}

/* Help button */
#wcp-editor-help-button {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 44px;
    height: 44px;
    font-size: 24px;
    line-height: 44px;
    color: white;
    text-align: center;
    background: #2196f3;
    border-radius: 44px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}
#wcp-editor-help-button:hover {
    filter: brightness(1.1);
    -moz-filter: brightness(1.1);
    -webkit-filter: brightness(1.1);
}
#wcp-editor-help-button:active {
    filter: brightness(0.9);
    -moz-filter: brightness(0.9);
    -webkit-filter: brightness(0.9);
}
