


col-lg-20 {
  width: 25% !important;
}
.btn_head_top {
  padding: 1px;
  background: #fff;
  box-shadow: 0 0 2px #5f5f5f;
  margin-bottom: 10px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.btn_head_top a {
  background: #0e7ab2;
  color: #fff;
  text-transform: uppercase;
  /* font-family: 'Roboto-Regular'; */
  text-align: center;
  font-size: 12px;
  padding: 10px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  color: #fff;
  min-height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-block {
  display: block;
  width: 100%;
  text-align: center;

}
.btn_head_top .active {
  background: #E67D21 !important;
}
.content_left_ykien h2 {
  display: block;
  text-align: center;
  font-size: 17px;
  /* font-family: 'Roboto-Regular'; */
  color: #fff;
  padding: 11px 0;
  background: #0089cf;
  margin-bottom: 5px;
  text-transform: uppercase;
}
.sub_docnhieu {
  overflow: hidden;
}
#menu_nhiemvu .active {
  background: #E67D21 !important;
}
.content_left_ykien ul li .sub_docnhieu h4 a {
  /*display: block;*/
  font-size: 14px;
  /* font-family: 'Roboto-Bold'; */
  color: #333;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  /* margin-bottom: 5px; */
  font-weight: bold;
  padding: 5px;
}
.content_left_ykien ul li {
  background: #b3d9e1;
  padding: 6px 0 6px 2px;
  border:3px solid white;
}
.content_mid {
  /*padding: 13px 11px;*/
  /*box-shadow: 0 0 5px #5f5f5f;*/
  border-radius: 5px;
  /*height: 455px;*/
  background: #fff;
  /*text-overflow: ellipsis;*/
  /*overflow: auto;*/
}
.sub_content {
  border: 1px solid #ccc;
  padding: 10px;
  box-shadow: 0 0 5px #5f5f5f;
  margin: 10px 0px;
  text-align: justify;
  font-size: 14px;
}
.sub_content p {
  font-size: 16px;
  margin-bottom: 7px;
}
.content_mid .text_content_mid {
  /* font-family: 'Roboto-Regular'; */
  font-size: 16px;
  font-style: italic;
  line-height: 25px;
  color: #333;
  min-height: 280px;
  /*overflow: auto;*/
  max-height: 280px;
}
.name_ykien {
  background: #0e7ab2;
  padding: 6px;
  border-radius: 7px;
  margin-right: 10px;
  margin-left: 10px;
}
.name_ykien ul li span {
  /* font-family: 'Roboto-Bold'; */
}
.name_ykien ul li {
 /*  font-family: 'Roboto-Regular'; */
  font-size: 14px;
  color: #fff;
  line-height: 20px;
}
.tailieu_dinhkem h2 {
  font-size: 14px;
  /* font-family: 'Roboto-Bold'; */
  color: #fff;
  text-align: center;
  background: #0e7ab2;
  padding: 10px 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.ct_tailieu {
  padding: 16px 30px;
  box-shadow: 0 0 2px #5f5f5f;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
.ct_tailieu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.ct_tailieu img {
  margin-right: 20px;
  height: 53px;
  margin-top: 10px;
}
.ct_tailieu ul {
  width: 52%;
}
.ct_tailieu ul li {
  font-size: 14px;
 /*  font-family: 'Roboto-Regular'; */
  width: 100%;
  margin-bottom: 5px;
}
.ct_tailieu ul li img {
  margin-right: 5px;
  margin-top: -5px;
  height: 12px;
}
.ct_tailieu ul li span {
  display: inline-block;
  width: 18px;
  height: 18px;
  text-align: center;
  line-height: 18px;
  border-radius: 50%;
  color: #fff;
  font-size: 11px;
  background: #4e9200;
  float: right;
}
.btn_bottom {
  background: #a989f7;
  color: #fff;
  /* font-family: 'Roboto-Regular'; */
  font-size: 14px;
  padding: 17px 10px;
  text-align: center;
  text-transform: uppercase;
}
.btn-block {
  display: block;
  width: 100%;
}
.btn_bottom:hover{
  opacity: 0.8;
}
.sub_content p{
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background: -webkit-linear-gradient(0deg, #053785b5 40%, #006CB6 100%);
  color: #fff;
}

.sub_content span {
  margin-left: 10px;
  font-size: 15px;
  font-style: normal;
  font-weight: bold;
}

.sub_content ul li a{
  white-space: normal;
}

.box_report h3{
  font-weight: 500;
  line-height: 25px;
}
.chitiet_nhiemvu_up {
  background: #fff;
  padding: 15px;
}
.txt_detail_nv  .btn.btn-info{
 display: block;
 color: #fff;
}
.txt_detail_nv .panel-body {
  font-size: 14px;
  line-height: 25px;
}


@media (min-width:1200px) /* lg*/ {
    .col-lg-2 {
      width: 12.5%;
    }
}